body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #34495e;
  color: #fff;
  padding: 1em;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 1em;
}

main {
  padding: 1em;
}

main h2 {
  margin-top: 0;
}

main a {
  color: #34495e;
  text-decoration: none;
}

footer {
  background-color: #34495e;
  color: #fff;
  padding:1em;
text-align: center;
}

footer p {
margin: 0;
}

